body{
    margin: 0;
}

/* CSS part of 'container-one' begins from here */

.container-one-color, .footer{
    background-color: #1F2937;
}

.container-one{
    width: 800px;
    margin: 0 auto;
}

.logo{
font-size: 24px;
color: #f9faf8;
text-decoration: none;
font-weight: bold;
display: flex;
/* align-items: center; */
margin-top: 16px;
}

.main-text{
font-size: 48px;
font-weight: bolder;
color: #f9faf8;
}

li a, .sub-text p{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: auto;
}

li{
    list-style: none;
}

.signup-button-one{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
}

.header{
    display: flex;
}


.header-content{
    display: flex;
    padding: 60px 0px;
}

.img-placeholder{
    height: 150;
    width: 600;
    padding: 30px 60px;
    background-color: #75777c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;

}

/* CSS part of 'container-two' begins from here */

.container-two{
    width: 650px;
    margin: 0 auto;
}

.text-two{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 40px 0px;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.box-group-container{
    display: flex;
    margin-bottom: 70px;
}

.box{
    margin: 0 auto;
}

.box-group p{
    text-align: center;
    margin: 8px 16px;
}

/* CSS part of 'container-three' begins from here */

.container-three-color{
    background-color: #e5e7eb;
    padding: 60px;
}

.container-three{
    width: 700px;
    margin: 0 auto;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.author{
    color: #1F2937;
    text-align: right;
    margin: 0;
    font-weight: bold;
}

/* CSS part of container-four begins from here */

.container-four{
    padding: 70px;
}

.group-four{
    background-color: #3882f6;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    padding: 10px 50px;
}

.group-four-text{
    height: 100px;
    width: 600px;
    margin : 0 auto;
    display: flex;
    align-items: center;
}

.signup-button-four{
    margin-left: auto;
}

.signup-button-four button{
    padding: 6px 25px;
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    font-weight: bolder;
    border-radius: 8px;
}

.group-four-text div p{
    margin: 0;
    color: #f9faf8;
}

.four-bold-text{
    font-weight: bolder;
}

.footer{
    color: #f9faf8;
    text-align: center;
    padding: 25px;
    font-weight: lighter;
}